
.photostack {
 padding-top:100px;
 display:none;
 width:100px;
 height:200px;
 position: relative;
 margin:0 auto;
 left: -50px;
 top: 100px;
}

.photo {
  width:200px;
  border:solid 2px rgba(100,100,100,.7);
  border-radius: 50px;
  position: absolute; 
  left:5px;
  z-index:1;
  transform: rotate(7deg);
  transition:all 0.5s;
}

.photo:nth-child(2) {
  top:-40px;
  left:40px;
  transform: rotate(13deg);
}
.photo:nth-child(1) {
  top:20px;
  left:80px;
  transform: rotate(43deg);
}
.photo:nth-child(3) {
  top:40px;
  left:-80px;
  transform: rotate(-40deg);
}
.photo:nth-child(4) {
  top:100px;
  left:-40px;
  transform: rotate(-10deg);
}
.photo:nth-child(5) {
  top:160px;
  left:80px;
  transform: rotate(30deg);
}
.photo:nth-child(6) {
  top:260px;
  left:-80px;
  transform: rotate(-30deg);
}
.photo:nth-child(7) {
  top:200px;
  left:-140px;
  transform: rotate(-15deg);
}
.photo:nth-child(8) {
  top:200px;
  left:140px;
  transform: rotate(15deg);
}
.photo:hover {
  z-index:2;
  box-shadow:15px 15px 30px #666;
  transform: rotate(0deg);
  transform: scale(1.3);
}
.photo img {
  width:100%;
}
.phototext {
  font-size:12px;
}
html, body{
  height: 100%;
  font-family: 'Varela Round' sans-serif;
  text-align: center;
  background: #e6e6d8
}
.title-text{
  font-size: 3rem;
  display: inline-block; 
  margin:0px;
}
.fadeInUp: {
  margin:0px;
}
.left{
  color: #3498db;
  margin-right: 1rem;
}

.fadeInUp{
  font-size: 1.2rem;
  color: gray;
  text-transform: uppercase;
}
.delay-1{
  @include animation-delay(2s);
}

.text{
  display: none;
  position: relative;
  top: 350px;
}

.text-text {
  padding: 100px;
}

.tshirt {
  display: block;
  margin: auto;
}
.tshirt-pic {
  padding: 10px;
}
